<div class="main-container">
  <div class="filter">
    <app-filter (filterChanged)="onFilterChanged($event)"/>
  </div>
  <div class="recipe-container">
    <h2>Kuchen:</h2>
    <div class="recipe-section">
      @for (cake of filteredCakes(); track cake) {
        <div class="recipe-card">
          <a class="recipe-button" [routerLink]="['./Rezept', cake._id, 'cake']">
            {{ cake.name }}
          </a>
          <button class="delete-button" (click)="deleteCake(cake._id)">Delete</button>
        </div>
      }
    </div>

    <h2>Teige:</h2>
    <div class="recipe-section">
      @for (dough of filteredDoughs(); track dough) {
        <div class="recipe-card">
          <a class="recipe-button" [routerLink]="['./Rezept', dough._id, 'dough']">
            {{ dough.name }}
          </a>
          <button class="delete-button" (click)="deleteDough(dough._id)">Delete</button>
        </div>
      }
    </div>

    <h2>Füllungen:</h2>
    <div class="recipe-section">
      @for (filling of filteredFillings(); track filling) {
        <div class="recipe-card">
          <a class="recipe-button" [routerLink]="['./Rezept', filling._id, 'filling']">
            {{ filling.name }}
          </a>
          <button class="delete-button" (click)="deleteFilling(filling._id)">Delete</button>
        </div>
      }
    </div>

    <h2>Topping:</h2>
    <div class="recipe-section">
      @for (topping of filteredToppings(); track topping) {
        <div class="recipe-card">
          <a class="recipe-button" [routerLink]="['./Rezept', topping._id, 'topping']">
            {{ topping.name }}
          </a>
          <button class="delete-button" (click)="deleteTopping(topping._id)">Delete</button>
        </div>
      }
    </div>
  </div>
</div>
