<div class="container">
  <mat-card *ngIf= "component == 'dough'" class="card">
    <mat-card-header>
      <mat-card-title>
        <input [(ngModel)] = "doughName">
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="form-group">
        <label>Das Rezept ergibt ... Böden</label>
        <input type="number" [(ngModel)]="doughQuantity">
      </div>

      <h4>Zutaten:</h4>
      <textarea cdkTextareaAutosize [(ngModel)] = doughIngredients></textarea>
        
      <h4>Anleitung:</h4>
      <textarea cdkTextareaAutosize [(ngModel)]="doughInstructions"></textarea>
      <div>
        <label for="newTag">Tag hinzufügen:</label>
        <br>
        <input id="newTag" type="text" [(ngModel)]="newTagName" placeholder="Tag benennen">
        <button type="button" (click)="addTag(component='dough')">Tag hinzufügen</button>
      </div>
      
      <div>
        <label>Ausgewählte Tags:</label>
        <div *ngFor="let tag of doughTags">
          {{tag.name}}
          <button (click)="deleteTag(tag._id, component='dough')">Tag entfernen</button>
        </div>
      </div>
      <button class="submit-btn" (click)="saveEdit()">Speichern</button>
    </mat-card-content>
  </mat-card>
    
  <mat-card *ngIf="component == 'filling'" class="card">
    <mat-card-header>
      <mat-card-title>
        <input [(ngModel)] = "fillingName">
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="form-group">
        <label>Das Rezept ergibt ... Portionen</label>
        <input type="number" [(ngModel)]="fillingQuantity">
      </div>

      <h4>Zutaten:</h4>
      <textarea cdkTextareaAutosize [(ngModel)] = fillingIngredients></textarea>

      <h4>Anleitung:</h4>
      <textarea cdkTextareaAutosize [(ngModel)]="fillingInstructions"></textarea>
      <div>
        <label for="newTag">Tag hinzufügen:</label>
        <br>
        <input id="newTag" type="text" [(ngModel)]="newTagName" placeholder="Tag benennen">
        <button type="button" (click)="addTag(component='filling')">Tag hinzufügen</button>
      </div>
      
      <div>
        <label>Ausgewählte Tags:</label>
        <div *ngFor="let tag of fillingTags">
          {{tag.name}}
          <button (click)="deleteTag(tag._id, component='filling')">Tag entfernen</button>
        </div>
      </div>
      <button class="submit-btn" (click)="saveEdit()">Speichern</button>
    </mat-card-content>
  </mat-card>


  <mat-card *ngIf="component == 'topping'" class="card">
    <mat-card-header>
      <mat-card-title>
        <input [(ngModel)] = "toppingName">
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="form-group">
        <label>Das Rezept ergibt ... Portionen</label>
        <input type="number" [(ngModel)]="toppingQuantity">
      </div>
      <h4>Zutaten:</h4>
      <textarea cdkTextareaAutosize [(ngModel)] = toppingIngredients></textarea>

      <h4>Anleitung:</h4>
      <textarea cdkTextareaAutosize [(ngModel)]="toppingInstructions"></textarea>

      <div>
        <label for="newTag">Tag hinzufügen:</label>
        <br>
        <input id="newTag" type="text" [(ngModel)]="newTagName" placeholder="Tag benennen">
        <button type="button" (click)="addTag(component='topping')">Tag hinzufügen</button>
      </div>
      
      <div>
        <label>Ausgewählte Tags:</label>
        <div *ngFor="let tag of toppingTags">
          {{tag.name}}
          <button (click)="deleteTag(tag._id, component='topping')">Tag entfernen</button>
        </div>
      </div>

      <button class="submit-btn" (click)="saveEdit()">Speichern</button>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="component == 'cake'" class="card">
    <mat-card-header>
      <mat-card-title>
        <input [(ngModel)]="cakeName">
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="cakeUseComponents === 'yes'">
        <label>Teig(e):</label>
        <div class="options-list">
          <div *ngFor="let dough of doughs" class="checkbox-item">
            <input
              type="checkbox"
              id="dough-{{dough._id}}"
              [value]="dough._id"
              (change)="onComponentChange('dough', dough._id, $event)"
              [checked]="isComponentSelected('dough', dough._id)"
            />
            <label for="dough-{{dough._id}}">{{ dough.name }}</label>
          </div>
        </div>

        <label>Füllung(en):</label>
        <div class="options-list">
          <div *ngFor="let filling of fillings" class="checkbox-item">
            <input
              type="checkbox"
              id="filling-{{filling._id}}"
              [value]="filling._id"
              (change)="onComponentChange('filling', filling._id, $event)"
              [checked]="isComponentSelected('filling', filling._id)"
            />
            <label for="filling-{{filling._id}}">{{ filling.name }}</label>
          </div>
        </div>

        <label>Topping(s):</label>
        <div class="options-list">
          <div *ngFor="let topping of toppings" class="checkbox-item">
            <input
              type="checkbox"
              id="topping-{{topping._id}}"
              [value]="topping._id"
              (change)="onComponentChange('topping', topping._id, $event)"
              [checked]="isComponentSelected('topping', topping._id)"
            />
            <label for="topping-{{topping._id}}">{{ topping.name }}</label>
          </div>
        </div>

        <h4>Ausgewählte Komponenten in der Reihenfolge der Auswahl:</h4>
        <ol>
          <li *ngFor="let component of selectedComponents; let i = index">
            {{ getComponentName(component.type, component.id) }}
            <input type="number" [(ngModel)]="component.quantity" min="1">
            <button (click)="moveUp(i)" [disabled]="i === 0">Up</button>
            <button (click)="moveDown(i)" [disabled]="i === selectedComponents.length - 1">Down</button>
          </li>
        </ol>
      </div>

      <div *ngIf="cakeUseComponents === 'no'">
        <label>Zutaten:</label>
        <textarea cdkTextareaAutosize [(ngModel)]="cakeIngredients"></textarea>

        <label>Anleitung:</label>
        <textarea cdkTextareaAutosize [(ngModel)]="cakeInstructions"></textarea>
      </div>

      <div>
        <label for="newTag">Tag hinzufügen:</label>
        <br>
        <input id="newTag" type="text" [(ngModel)]="newTagName" placeholder="Tag benennen">
        <button type="button" (click)="addTag(component='cake')">Tag hinzufügen</button>
      </div>
      
      <div>
        <label>Ausgewählte Tags:</label>
        <div *ngFor="let tag of cakeTags">
          {{tag.name}}
          <button (click)="deleteTag(tag._id, component='cake')">Tag entfernen</button>
        </div>
      </div>

      <button class="submit-btn" (click)="saveEdit()">Speichern</button>
    </mat-card-content>
  </mat-card>
</div>
