<div class="add-container">
    <h2>Teigrezept hinzufügen</h2>
    <div class="form-group">
      <label>Teigname: </label>
      <input id="TeigName" placeholder="Teigname eintragen" [(ngModel)]="doughName">
    </div>
    <div class="form-group">
      <label>Das Rezept ergibt ... Böden</label>
      <input placeholder="1" [(ngModel)]="doughQuantity">
    </div>
    <div class="form-group">
      <label>Zutaten:</label>
      <textarea placeholder="Zutaten einfügen" [(ngModel)]="doughIngredients"></textarea>
    </div>
    <div class="form-group">
      <label>Anleitung:</label>
      <textarea placeholder="Anleitung einfügen" [(ngModel)]="doughInstructions"></textarea>
    </div>
    <div class="form-group">
      <button class="submit-btn" (click)="addDough()">Rezept hinzufügen</button>
    </div>
  </div>