<div class="add-container">
  <h2>Teigrezept hinzufügen</h2>
  <div class="form-group">
    <label>Teigname: </label>
    <input id="TeigName" placeholder="Teigname eintragen" [(ngModel)]="doughName" required>
  </div>
  <div class="form-group">
    <label>Das Rezept ergibt ... Böden</label>
    <input type="number" min = "1" [(ngModel)]="doughQuantity">
  </div>
  <div class="form-group">
    <label>Zutaten:</label>
    <textarea cdkTextareaAutosize placeholder="Zutaten einfügen" [(ngModel)]="doughIngredients" required></textarea>
  </div>
  <div class="form-group">
    <label>Anleitung:</label>
    <textarea cdkTextareaAutosize placeholder="Anleitung einfügen" [(ngModel)]="doughInstructions" required></textarea>
  </div>

  <div>
    <label for="newTag">Tag hinzufügen:</label>
    <br>
    <input id="newTag" type="text" [(ngModel)]="newTagName" placeholder="Tag benennen">
    <button type="button" class="tag-add-btn" (click)="addTagToDough()">Tag hinzufügen</button>
  </div>
  
  <div>
    <label>Ausgewählte Tags:</label>
    <div *ngFor="let tag of doughTags()">
      {{tag.name}}
      <button (click)="deleteTagFromDough(tag._id)">Tag entfernen</button>
    </div>
  </div>

  <div class="form-group">
    <button class="submit-btn" (click)="addDough()">Rezept hinzufügen</button>
  </div>
</div>
